<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="page-wrapper">
        <%- include('header', { home: true }) %>
        <div class="btn-container">
            <a href="/add-movie"><button class="menu-btn add-btn">Add Movie</button></a>
            <a href="/add-genre"><button class="menu-btn">Add Genre</button></a>
        </div>
        <div class="category">View by Category</div>
        <div class="category-container">
            <a href="/movies"><button class="menu-btn">All</button></a>
            <% genres.forEach((genre) => { %>
                <a href="/movies/genre/<%= genre.genre %>">
                    <button class="menu-btn"><%= genre.genre %></button>
                </a>
            <% }) %>
        </div>
    </div>
</body>
</html>