<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
    <img src="logo.png" alt="movie database logo" width="200px">
    <a href="/movies"><button class="menu-btn">All Movies</button></a>
    <div class="category">View by Category</div>
    <div class="category-container">
        <button class="menu-btn">Action</button>
        <button class="menu-btn">Comedy</button>
        <button class="menu-btn">Drama</button>
        <button class="menu-btn">Sci-fi</button>
    </div>
</body>
</html>