<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/movies.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="page-wrapper">
        <%- include('header', { home: false }) %>
        <div class="title"><%= title %></div>
        <%- include('movieTable', { movies: movies }) %>
        <a href="/"><button class="menu-btn">Home</button></a>
    </div>
</body>
</html>