form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 350px;
}

input,
select {
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
    overflow: hidden;
}

.btn-container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

button[type="submit"] {
    font-weight: 600;
}

.cancel-btn {
    color: red;
}