@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #222;
  color: white;
  height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.menu-btn {
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: black;
    color: white;
}