.category-container,
.btn-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 900px;
}

.add-btn {
    background-color: black;
    color: white;
    font-weight: 600;
}