table {
    background-color: white;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    color: black;
    width: 100%;
    max-width: 900px;
    text-align: center;
    table-layout: fixed;
}

thead {
    background-color: black;
    color: white;
}

th:nth-child(1),
td:nth-child(1) {
    width: 320px;
    text-align: left;
}

th:nth-child(2),
td:nth-child(2) {
    width: 70px;
    text-align: center;
}

tbody tr:nth-of-type(even) {
    background-color: rgb(225, 227, 233);
}

th, td {
    padding: 3px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody tr:hover {
    background-color: rgb(255, 251, 222);
    cursor: pointer;
}

.delete-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.category-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 900px;
}